/* NAV */
.left-off-canvas-menu ul {
  margin: 0; 
}
.left-off-canvas-menu li a {
  display: block;
  padding: 12px 10px;
  border-bottom: 1px #545454 solid;
  color: #fff; 
}
.menu li:hover {
    background-color: #E89321;
}
/*CONTENT*/
.button:hover, .button:focus {
    background: #E89321;
}
/* MEDIA QUERIES */
@media only screen and (max-width: 40em) {
  #wpadminbar {
    position: fixed;
}

