.menu li:hover {
    background-color: #FFA500;
}
/*CONTENT*/
.button:hover, .button:focus {
    background: #FFA500;
}
/* MEDIA QUERIES */
@media only screen and (max-width: 40em) {
  #wpadminbar {
    position: fixed;
}
button.menu-toggle {
    display: block;
    text-align: right;
    color: black;
    text-transform: uppercase;
    padding: .5em .5em .5em .5em;
}
button.menu-toggle:hover {
    color: orange;
}